[Desktop Entry]
Type=Application
Version=1.0
Name=CATerm
Comment=Zero-Knowledge SSH Terminal & SFTP Client
Exec=caterm %u
Icon=com.fathforce.caterm
Terminal=false
Categories=Development;Network;Utility;
Keywords=SSH;Terminal;SFTP;
